@import url('https://fonts.googleapis.com/css?family=Bitter:700');

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; 
}
* {
  margin: 0;
  padding: 0;
  border: 0 none; 
}
:root {
  font-size: 10px;
}
html {
    min-height:100%;
    position:relative;
}
body {
  height:100%; 
  background: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  vertical-align: baseline;
  color: #3b3a3f;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
}




h1 {
  font-size: calc(36px + 36 * ((100vw - 350px) / 674));
}
h2 {
  font-size: calc(24px + 6 * ((100vw - 350px) / 674));
}
p {
  font-size: 1.6rem;
}

ul {
  list-style: none; 
  margin-left: 10px;
  font-size: 1.6rem;
}

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}
h1 {
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
}

.center {
  text-align: center; 
}

hr {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  height: 1px;
  background: #f5f5f5;
  clear: both; 
}


.content {
  overflow: hidden;
  p {
    margin-bottom: 0;
  }
}

header[role="banner"] {
  position: relative;
  border-bottom: 1px solid transparent; 
  height: 100vh;
  z-index: 1;
  padding-top: 20vh;
  .banner-content {
    @media( max-width: 768px) {
      padding: 25px;
    }
    h1 {
      font-size: calc(36px + 26 * ((100vw - 350px) / 674));
    }
    h2 {
      font-size: calc(22px + 6 * ((100vw - 350px) / 674));
      font-weight:400;
    }
  }
}




section[role="main"] {
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 0 30px;
    background: #fff;
    @media(max-width: 768px) {
      padding: 0 35px;
    }
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
  }
  .left-col {
    font-weight: 700;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    top: 50%;
    left: 10px;
    text-align: center;
    transform-origin: 50% 50%;
    width: 240px;
    margin-left: -100px;
    @media(max-width: 768px) {
      transform: none;
      position: static;
      margin: 0;
      text-align: left;
      padding-left: 15px;
    }
    h3 {
      @media(max-width: 468px) {
        font-size: 4.0rem;
      }
    }
  }
  .right-col {
    // @media(max-width: 768px) {
    //   text-align: center;
    // } 
    p, .post-link {
     font-size: 2.4rem;
     @media(max-width: 768px) {
      font-size: 1.6rem;
     }
    }

    ul {
      margin: 0;
      padding-top: 1.8rem;
    }
  }
}


// custom hrefs

.nav a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  color: #2a7ae2;
  font-weight: 500;
}

.nav a:hover,
.nav a:focus {
  outline: none;
}

.cl-effect a {
  color:  #3b3a3f;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.cl-effect a::before {
  color: #2a7ae2;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect a:hover::before,
.cl-effect a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}


.container-fluid.content {
  padding: 100px 0;
  position: relative;
  @media( max-width: 768px) {
    margin: 30px 0;
  }
}
.post-list > li {
  margin-bottom: 0px;
}

.back-button {
    position: fixed;
    right: 60px;
    top: 40px;
    background: #3b3a3f;
    border-radius: 30px;
    width: 60px;
    color: #fff;
    cursor: pointer;
    height: 60px;
    padding: 6px 14px;
    z-index: 1;
    @media (max-width: 768px) {
      position: static;
      margin: 30px auto;
    }
    a {
      color: #fff;
      font-size: 3rem;
      &:hover {
        text-decoration: none;
      }    
    }
    &:hover {
      background: #2a7ae2;
    }
}


#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
  pointer-events: none;
  background: #f5f5f5;
}
