---
layout: default
title: Gerard Simpson - Web Developer
---

    <header role='banner' id="particles-js">
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12'>
            <div class="banner-content cl-effect nav">
              <h1>
                Gerard Simpson,
                <br>Web Developer
              </h1>
              <h2>
                Lover of web technologies, modern JS frameworks, and creating things.
                Below, you can find examples of my <a data-hover="work" href="#work">work</a>, my <a data-hover="online accounts" href="#elsewhere">online accounts</a>, how to <a data-hover="find me" href="#info">find me</a>, my <a data-hover="resume" href="#info">resume</a> and my <a data-hover="blog" href="#blog">blog</a>.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section role='main'>
      <div class='container-fluid content' id="work">
        <div class="row">
          <div class='col-sm-4 left-col'>
            <h3>Projects</h3>
          </div>
          <div class='col-sm-8 right-col'>
            <ul class="post-list">
              {% for project in site.projects %}
                <li>
                  <p>
                    <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
                  </p>
                  <!-- <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span> -->
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <div class='container-fluid content' id="blog">
        <div class="row">
          <div class='col-sm-4 left-col'>
            <h3>
              Blog Posts
            </h3>
          </div>
          <div class='col-sm-8 right-col'>
            <ul class="post-list">
              {% for post in site.posts %}
                <li>
                  <p>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </p>
                  <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <hr>

      <div class='container-fluid content' id="info">
        <div class="row">
          <div class='col-sm-4 left-col'>
            <h3>Info</h3>
          </div>
          <div class='col-sm-8 right-col'>
            <ul>
              <li>
                <p>
                  Email <a href='mailto:gardesimpson@gmail.com'>gardesimpson@gmail.com</a>
                <p>
              </li>
              <li> 
                <p>
                  Phone <a href='tel:0031681182625'>+61 497677354</a>
                </p>
              </li>
              <li>
                <p>
                  <a href='resume'>Resume</a>
                </p>
              </li>
            </ul> 
          </div>
        </div>
      </div>

      <hr>

      <div class='container-fluid content' id="elsewhere">
        <div class="row">
          <div class='col-sm-4 left-col'>
            <h3>Elsewhere</h3>
          </div>
          <div class='col-sm-8 right-col'>
            <ul class='float-list'>
              <li>
              <p>
                <a href='https://github.com/node-gs/' target='_blank'>GitHub</a>
                <p>
              </li>
              <li>
                <p>
                  <a href='http://stackoverflow.com/users/4476186/gerard-simpson?tab=profile' target='_blank'>stack<strong>overflow</strong></a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>